<div class = "menu_container" [hidden] = "isMenuHidden" (click)="hideMenu()">
  <div class="menu_content">
    <div class = "menu_text">ABOUT</div>
    <div class = "menu_text">SERVICES</div>
    <div class = "menu_text">CERTIFICATIONS</div>
    <div class = "menu_text">TECHNOLOGY</div>
    <div class = "menu_text">DISPATCH</div>
    <div class = "menu_text">DRIVERS</div>
    <div class = "menu_text">TRACK&TRACE</div>
    <div class = "menu_text">CONTACT</div>
  </div>
</div>

<div class="wrapper">
	<div class="header">

      <div class="top_banner">
        <div class="top_banner_left">
          <img src="assets/img/black_logo.png" class="top_logo" />
          <span class = "header_title mobilehide" >100-435 Rue Norman, Montreal, Quebec H8R 1A4 </span>
          <span class = "header_title mobilehide" style = "font-family: 'Helvetical_BoldCond';">514 333 5402</span>
        </div>

        <div class="top_banner_right mobilehide">
          <img src="assets/img/social_facebook.png" class="top_logo" (click)="facebookClick()" />
          <img src="assets/img/social_twiter.png" class="top_logo" (click)="twitterClick()"/>
          <img src="assets/img/social_in.png" class="top_logo" (click)="linkedinClick()"/>
          <div class="top_language" style = "margin-left:25px;">EN</div>
          <div class="top_language">FR</div>
        </div>

        <div class = " mobileshow" >
          <img class = "mobilemenuicon" (click)="showMenuFunction()" src="assets/img/yellow_harmburger.png" />
        </div>

  		</div>


      <div class = "memuicon_container mobilehide">
        <img class = "menuicon" (click)="showMenuFunction()" src="assets/img/hamburger.png" />
      </div>


  		<div class="header_container">


    			<div class = "company_profile">
              <div>
                <img class = "white_logo mobilehide"src="assets/img/white_logo.png" />
              </div>
              <div class="big_title">DRIVE INTO THE <span style="color:orange;">FUTURE</span><br/> OF TRANSPORATATION</div>
              <div class= "normal_title">With the only transport in Montreal offering instant system updates from both CP and CN Rail</div>
    			</div>
          <div class="launch_modal">
            <div class="launch_text">Already a customer<br/>and need to <span style = "font-family: 'EncodeSans_Bold';">track a container?</span></div>
            <div class="launch_button"> 
                LAUNCH QUICK TRACE
            </div>
          </div>

  		</div>

  </div>

  <div class="container about_container">
    <div class="about_diagram">

        <ul class = "about_line" style = "padding:0;">
          <li  *ngFor="let about of abouts; let i = index;"> 
            <div  class = "circle_container" [style.margin-left.%]= "i*400" (click)="circleclick(i)">
              <div class = "circle" id = "about_circle1" [hidden] = "about.isShow" ></div>
              <div class = "small_circle" id = "about_circle1" [hidden] = "!about.isShow" ></div>

              <div class = "pluslabel" [hidden] = "about.isShow">+</div>
              <div class = "yearLabel">{{about.year}}</div>
              <div class = "about_detail" id = "about_detail1" ng-show="about_detail1" [hidden] = "!about.isShow">
                <div class = "detail_title">{{about.year}}</div>
                <div class = "detail_description">{{about.aboutdetail}}
                </div>
                <img src="assets/img/detail_img.png" class="detail_img"/>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <div class = "title mobileshow">ABOUT</div>

    <div class="flexContainer">
      <div class = "description">A family business founded over 50 years ago, 
KT Group  has grown into one of Montreal’s leading providers of customs bonded transportation, bonded warehousing and container terminal services. We help small and medium sized businesses punch above their weight by enabling our clients to handle more volume.</div>
      <div class = "description">Using our game changing integrated technology, our customers can access to up-to- the-minute information on their cargo, be it on a train, in our bonded care, or grounded safely in our yard under 24/7 security. Through hard work, KT has remained a symbol of excellence and integrity in the transport industry.</div>
    </div>
  </div>

  <div class = "services_container">
    <div class = "container services">
      <div class = "title" style = "color:white;"> SERVICES</div>
      <div class = "services_description">By combining the latest technology with experienced dispatch and logistics personnel, KT Group is the only transport company in Montreal that offers instant system updates  from both Canadian Pacific and Canadian National Rail.</div>
      <div class = "flexContainer">
        <div class = "service">
          <img src="assets/img/vehicle.png" class = "service_img"/>
          <div style = "margin-left:20px;">
            <div class="service_name">FLEET OF VEHICLES</div>
            <div class="service_desc mobileshow">We provide intermodal TL/LTL shipments which includes stuffing, destuffing to optimize your supply chain management and reduce our customers’ costs.</div>
          </div>
        </div>

        <div class = "service">
          <img src="assets/img/security.png" class = "service_img"/>
          <div style = "margin-left:20px;">
            <div class="service_name">SECURITY SEALS</div>
            <div class="service_desc mobileshow">To ensure the safety of your shipment, we secure containers in our yard with specialized security seals imprinted with unique identifiers.</div>
          </div>
        </div>

        <div class = "service">
          <img src="assets/img/equipment.png" class = "service_img"/>
          <div style = "margin-left:20px;">
            <div class="service_name">EQUIPMENT</div>
            <div class="service_desc mobileshow">20’, 40’, 45’  box trailers and 40’ reefer trailers container haulage service (20’ to 53’ tandem and triaxles)
            </div>
          </div>
        </div>

        <div class = "service">
          <img src="assets/img/secure.png" class = "service_img"/>
          <div style = "margin-left:20px;">
            <div class="service_name">SECURE CONTAINER TERMINAL</div>
            <div class="service_desc mobileshow">Our main container yard is located just minutes from CN and CP Rail. 
With three full container handlers on site, we’re able to process a high volume of containers. As a Canadian Border Services Agency (CBSA) registered sufferance facility, this site is fully fenced and has 24-hour security surveillance. The yard is monitored 24/7 by digital cameras and 
a trained security guard patrols off hours and weekends.<br/> <br/> KT Group can temporarily hold emptied marine containers before using them for export loading. We store, drop, clean and repair containers on-site. Let us take the stress off by returning your surplus empty containers to the ocean lines’ off dock container yard.
        </div>
          </div>
        </div>

        <div class = "service">
          <img src="assets/img/distribution.png" class = "service_img"/>
          <div style = "margin-left:20px;">
              <div class="service_name">DISTRIBUTION</div>
              <div class="service_desc mobileshow">We offer local and national distribution (vanloads or LTL- Canada-wide and cross-border), same-day pickup and delivery.</div>
          </div>
        </div>

        <div class = "service">
          <img src="assets/img/sufferance.png" class = "service_img"/>
          <div style = "margin-left:20px;">
              <div class="service_name">SUFFERANCE BONDED WAREHOUSING</div>
              <div class="service_desc mobileshow">With drive-in doors, loading docks, and racking receive, we make it easy to consolidate, store and reload cargo in our state-of-the-art warehouse. Rest easy knowing that your merchandise is safe and secure.</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class = "brand_container">
    <img src="assets/img/brand1.png" class = "brand_img"/>
    <img src="assets/img/brand2.png" class = "brand_img"/>
    <img src="assets/img/brand3.png" class = "brand_img"/>
    <img src="assets/img/brand4.png" class = "brand_img"/>
    <img src="assets/img/brand5.png" class = "brand_img"/>
  </div>

  <div class = "features_container">
    <div class = "feature_container" style="background-color: #707070;">
          <div class = "feature_name">TECHNOLOGY</div>
    </div>

    <div class = "feature_container" style="background-color: #898989;">
      <div class = "feature_name">DISPATCH</div>
    </div>

    <div class = "feature_container" style="background-color: #707070;">
      <div class = "feature_name" >DRIVERS</div>
    </div>

    <div class = "feature_container" style="background-color: #898989;">
      <div class = "feature_name" >TRACK & TRACE</div>
    </div>
    
  </div>

  <div #gmap class = "map_container">
    
  </div>
 
  <div class = "container contacts">
    <div class="introduce_container">
      <div>
        <img src="assets/img/contact_logo.png" class="contact_logo" />
      </div>
      <div class = "introduce_text">Our team of knowledgeable and trained staff is available to assist you in assessing the most efficient and cost effective way to move your goods. Drive with us into the future of the transport industry.</div>
      <div class = "copyright mobilehide">@2018 KT Group. All rights reserved</div>
    </div>

    <div class="address_container">
      <div class = "address1"><span class="yellow_text">KT Group</span><br/>100-435 Rue Norman<br/>Montreal, Quebec  H8R 1A4 </div>
      <div class = "address2 mobilehide"><span class="bold_text">General inquiries:</span> info@ktwhs.com<br/><span class="bold_text">Careers:</span> careers@ktwhs.com<br/><span class="bold_text">Tel.:</span>   (514) 333-5402  (Montreal) <br/> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(416) 875-8999  (Toronto)<br/><span class="bold_text">Fax:</span>  (514) 683-1136</div>
      <div class = "address2 mobileshow"><span class="bold_text">General inquiries:</span> info@ktwhs.com<br/><span class="bold_text">Careers:</span> careers@ktwhs.com<br/><span class="bold_text">Tel.:</span>   (514) 333-5402  (Montreal) | (416) 875-8999  (Toronto)<br/><span class="bold_text">Fax:</span>  (514) 683-1136</div>
    </div>
    <div class = "copyright mobileshow">@2018 KT Group. All rights reserved</div>
  </div>
  

</div>