<div class="wrapper">
	<div class="header">
      <div class="top_banner">
        <div class="top_banner_left">
          <img src="assets/img/black_logo.png" class="top_logo" />
          <span>100-435 Rue Norman, Montreal, Quebec H8R 1A4 514 333 5402</span>
        </div>
        <div class="top_banner_right">
          <img src="assets/img/social_facebook.png" class="top_logo" />
          <img src="assets/img/social_twiter.png" class="top_logo" />
          <img src="assets/img/social_in.png" class="top_logo" />
        </div>
  		</div>


  		<div class="header_container">
  				<div class="company_profile">
            <div>
              <img src="assets/img/white_logo.png" class="top_logo" />
            </div>
            <div class="big_title">DRIVE INTO THE <span style="color:orange;">FUTURE</span><br/> OF TRANSPORATATION</div>

            <div>With the only transport in Montreal offering instant system updates from both CP and CN Rail</div>
  				</div>
  				<div class="launch-modal">
            <div>Already a customer and need to track a container?</div>
  				</div>
  		</div>

  </div>

  <div class="container">
    <div class="about-us">
      fewjfioewqifpewqjifope
    </div>
  </div>

  <div class="footer">
  </div>
</div>