
.wrapper {
	
}

.container{
	max-width: 900px;
	margin: auto;
}

.flexContainer{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.menu_text{
	font-family: 'EncodeSans_Bold';
	font-size: 18pt;
	line-height: 2.3em;
	color: white;
	text-align: center;
}

.menu_text:hover{
	color: #ff830a;
}

.menu_container{
	position: fixed;
	left: 0;
	top:0;
	height: 100vh;
	width:100vw;
	z-index: 9999;
	background: rgba(0,0,0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_content {
	padding: 30px 40px;
}

.menu_bg{
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	width:100%;
	background: black;
	opacity: 0.8;
	z-index: 9;
}


.header {
	height: 100vh;
	width: 100%;
	background: url("/assets/img/logo_bg.png") no-repeat;
	background-size: cover;
	overflow: hidden;
	position: center;
	background-attachment: fixed;

}

.memuicon_container{
	position: absolute;
	margin-top: 60px;
	right: 55px;
}

.mobilemenuicon{
	width:26px; 
	height:21px; 
	margin-right:16px;
}

.top_banner {
	background: #f7f8f9;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
    top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.header {
	height: 100vh;
	width: 100%;
	background: url("/assets/img/logo_bg.png") no-repeat;
	background-size: cover;
	overflow: hidden;
	position: center;
	background-attachment: fixed;
}



.top_banner_left {
	display: flex;
	align-items: center;
}

.top_banner_right {
	display: flex;
	align-items: center;
	margin-right: 55px;
}

.top_language {
	margin-left: 12px;
	font-family: 'HeadacheNormal';
	font-size: 13pt;
	color: #ff830a;
	margin-top: 7px;
}

.top_logo {
	margin-left: 12px; 
}

.social_icon {
	margin-left: 10px; 
}

.header_container {
	position: relative;
	width: 100%;
	height: 100%;
}

.header_title{
	padding-top: 8px;
	margin-left: 16px;
	font-family: 'Helvetical_Roman';
/*	font-size: 13pt;
	text-align: center;
	height: 100%;
*/ }

.header_bg {
	width: 100%;
	height: auto;
}

.header_content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.company_profile {
	margin-left: 175px;
	margin-top: 115px;
	width: 350px;
}

.launch_modal {
	background: white;
	border: 2px solid #ff830a;
	border-radius: 10px;
    max-width: 470px;
    height: 165px;
    margin: auto;
   	margin-top: 170px;
}

.launch_text{
	color: #5f5f5f;
	font-size: 10pt;
	font-family: 'EncodeSans_Regular';
	letter-spacing: 1px;
	line-height: 1.3em;
	margin-top: 30px;
	text-align: center;

}

.launch_button{
	color: white;
	background:  #ff830a;
	font-size: 10pt;
	font-family: 'EncodeSans_Regular';
	letter-spacing: 1px;
	text-align: center;
	vertical-align: center;
	max-width: 270px;
	height: 42px;
	line-height: 42px;
	margin:auto;
	margin-top: 20px;
	border-radius: 10px;

}

.big_title {
	color: #fff;
	margin-top: 30px;
	font-family: 'EncodeSans_Bold';
	font-size: 15pt;
	letter-spacing: 1px;
	line-height: 1.3em;
}

.normal_title {
	color: #fff;
	margin-top: 30px;
	font-family: 'EncodeSans_Light';
	font-size: 15pt;
	letter-spacing: 1px;	
	line-height: 1.3em;
}

.about_container{
	height: 500px;
	background: white;
}

.about_diagram{
	width: 100%;
	height:150px;
	padding-top:90px;
}

.about_line{
	background-color: #58585a;
	height: 3px;
	margin: auto;
	display: flex;
	list-style: none;
}

.about_description{
	justify-content: space-between;
	display: flex;
	margin: auto;
}

.circle{
	position: absolute;
	height: 22px;
	width: 22px;
	border-radius: 22px;
	border: 4px solid #ff830a;
	margin-top: -50px;
	background: white;
}


.small_circle{
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 15px;
	border: 4px solid #ff830a;
	margin-top: -46px;
	background: white;
}

.circle_container :after{
	z-index: 9;
}

.about_detail{
	position: absolute;
	height: 336px;
	width: 249px;
	margin-left: -107px;
	margin-top: -40px;
	padding: 16px;
	background:  url("/assets/img/detail_bg.png") no-repeat;
}

.detail_title{
	font-family: 'Helvetical_Bold';
	font-size: 10pt;
	color: #272727;
	margin-top: 20px;
}

.detail_description{
	font-family: 'Helvetical_Light';
	font-size: 10pt;
	color: #272727;
	margin-top: 10px;
}

.detail_img{
	margin-top: 20px;
}

.small{
	height: 12px;
	width: 12px;
	margin-top: -10px;
}

.pluslabel{
	position: absolute;
	margin-top: -51px;
	margin-left: 8px;
	font-family: 'EncodeSans_Light';
	font-size: 20pt;
	color: #272727;
}

.yearLabel{
	font-family: 'EncodeSans_Light';
	font-size: 12pt;
	color: #272727;
	margin-top: 35px;
}

.description{
	font-family: 'EncodeSans_Light';
	font-size: 14pt;
	color: #272727;
	max-width: 400px;
	line-height: 1.4em;
}

.services_container{
	height: 525px;
	width: 100%;
	background: #032238;
}

.title{
	color: white;
	padding-top: 60px;
	font-family: 'EncodeSans_Bold';
	font-size: 22.5pt;
}

.services_description{
	color: white;
	padding-top: 35px;
	font-family: 'EncodeSans_Light';
	font-size: 17pt;
	letter-spacing: 1px;	
	line-height: 1.3em;
}

/*.service_container{
	display: flex;
	align-items: center;
	justify-content: space-between;

}
*/
.service{
	max-width: 150px;
	padding-top: 95px;
	padding-left: 20px;
	padding-right: 20px;
}

.service_img{
	margin: auto;
}

.brand_img{
	margin: auto;
}

.service_name{
	color: white;
	padding-top: 10px;
	font-family: 'EncodeSans_Bold';
	font-size: 10pt;
	letter-spacing: 1px;	
	line-height: 1.3em;
}

.brand_container{
	height: 136px;
	max-width: 1000px;
	background: white;
	display: flex;
	margin: auto;

}

.brands{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.features_container{
	width: 100%;
	height: 265px;
	display: flex;
	justify-content: space-between;
}

.feature_container{
	width: 100%;
	height: 265px;
	display: flex;
	justify-content: space-between;
}

.feature_container :hover{
	background-color: #ff830a;
}
.feature_container :focus{
	background-color: #ff830a;
}

.feature_name{
	width: 100%;
	height:100%;
	line-height: 265px;
	color: white;
	font-family: 'EncodeSans_Bold';
	font-size: 10pt;
	letter-spacing: 1px;	
	text-align: center;
}

.map_container{
	height: 480px;
}

.contacts{
	height: 340px;
	margin: auto;
	justify-content: space-between;
	display: flex;
	padding-top: 60px;
}

.introduce_container{
	max-width: 450px;
}

.introduce_text{
	color: #272727;
	font-family: 'EncodeSans_Regular';
	font-size: 13pt;
	padding-top: 13pt;
}

.copyright{
	color: #272727;
	font-family: 'EncodeSans_Light';
	font-size: 10pt;
	padding-top: 125px;
}


.address_container{
}

.address1{
	color: #272727;
	font-family: 'EncodeSans_Light';
	font-size: 10pt;
	letter-spacing: 1px;	
	line-height: 1.7em;
}

.address2{
	padding-top: 50px;
	font-family: 'EncodeSans_Light';
	font-size: 10pt;
	letter-spacing: 1px;	
	line-height: 1.7em; 
}

.yellow_text{
	color: #ff830a;
	font-family: 'EncodeSans_Bold';
	font-size: 12pt;
}

.bold_text{
	font-family: 'EncodeSans_Bold';
}

.mobileshow{
	display: none;
}


@media only screen and (max-width: 960px) {

	.mobileshow{
		display: inline-block;
	}

	.mobilehide{
		display: none;
	}

	.company_profile {
		margin-left: 40px; 
		margin-top: 75px;
		width: 250px;
	}

	.big_title {
		font-family: 'EncodeSans_Bold';
		font-size: 10pt;
	}

	.normal_title {
		margin-top: 16px;
		font-family: 'EncodeSans_Light';
		font-size: 10pt;
	}

	.launch_modal {
		background: white;
		border: 1px solid #ff830a;
		border-radius: 5px;
	    height: 95px;
	    margin: auto;
	   	margin-top: 50px;
	   	max-width: 250px;
	}

	.launch_text{
		font-size: 7pt;
		font-family: 'EncodeSans_Regular';
		letter-spacing: 1px;
		line-height: 1.3em;
		margin-top: 16px;
	}

	.launch_button{
		font-size: 7pt;
		font-family: 'EncodeSans_Regular';
		letter-spacing: 1px;
		height: 27px;
		line-height: 27px;
	    margin-left: 40px;
	    margin-right: 40px;
		margin-top: 10px;
		border-radius: 5px;
	}

	.description{
		font-family: 'EncodeSans_Light';
		font-size: 8pt;
		color: #272727;
		margin-right: 40px;
		margin-left: 40px;
		line-height: 1.4em;
	}

	.about_container{
		height: 250px;
		background: white;
	}

	.title{
		padding-top: 20px;
		font-family: 'EncodeSans_Bold';
		font-size: 10pt;
		text-align: center;
		width: 100%;
		color: #272727;
	}

	.services_description{
		color: white;
		padding-top: 20px;
		font-family: 'EncodeSans_Light';
		font-size: 10pt;
		letter-spacing: 1px;	
		line-height: 1.3em;
		margin-right: 40px;
		margin-left: 40px;
	}

	.service{
		max-width: 100%;
		padding: 0px;
		padding-top: 10px;
		margin-left: 40px;
		margin-right: 40px;
		display: flex;
	}

	.service_img{
		margin: auto;
		margin-top: 10px;
		width: 40px;
		height: auto;
	}

	.brand_img{
		margin: auto;
		width: 50px;
		height: auto;
	}


	.service_name{
		color: white;
		font-family: 'EncodeSans_Bold';
		font-size: 8pt;
		letter-spacing: 1px;	
		line-height: 1.3em;
	}

	.service_desc{
		color: white;
		font-family: 'EncodeSans_Light';
		font-size: 8pt;
		letter-spacing: 1px;	
	}

	.services_container{
		height: 950px;
	}

	.brand_container{
		height: 70px;
		align-items: center;
		justify-content: space-between;
	}

	.features_container{
		height: 90px;
	}

	.feature_name{
		font-size: 7pt;
		letter-spacing: 1px;	
		text-align: center;
		vertical-align: center;
		line-height: 90px;
	}


	.header{
		height: 350px;
	}

	.container{
		max-width: 450px;
		min-width: 320px;
		margin: auto;
	}

	.map_container{
		height: 190px;
	}

	.contacts{
		height: 300px;
		margin: auto;
		display: block;
		padding-top: 20px;
	}

	.introduce_container{
		max-width: 100%;
		display: flex;
		margin-right: 40px;
		margin-left: 40px;
	}

	.introduce_text{
		font-size: 8pt;
		padding-top: 0pt;
		margin-left: 10px;
		margin-right: 16px;
		max-width: 100%;
	}

	.contact_logo{
		width: 60px;
		height: auto;
	}

	.address1{
		padding-top: 20px;
		font-family: 'EncodeSans_Regular';

		font-size: 8pt;
		width: 100%;
		text-align: center;
		line-height: 1.4em;
	}

	.address2{
		padding-top: 20px;
		font-family: 'EncodeSans_Regular';
		font-size: 8pt;
		letter-spacing: 1px;	
		line-height: 1.4em; 
		width: 100%;
		text-align: center;
	}

	.yellow_text{
		font-family: 'EncodeSans_Regular';
	}

	.bold_text{
		font-family: 'EncodeSans_Medium';
	}

	.copyright{
		font-family: 'EncodeSans_Light';
		font-size: 7pt;
		padding-top: 50px;
		margin-left: 40px;
	}


	.about_description{
		display: block;
	}

	.flexContainer{
		display: block;
	}

	.about_diagram {
		display: none;
	}
}

[hidden] { display: none !important;}

