<div class="wrapper">
	<div class="header">

      <div class="top_banner">
        <div class="top_banner_left">
          <img src="assets/img/black_logo.png" class="top_logo" />
          <span class = "header_title" >100-435 Rue Norman, Montreal, Quebec H8R 1A4 </span>
          <span class = "header_title" style = "font-family: 'Helvetical_BoldCond';">514 333 5402</span>
        </div>

        <div class="top_banner_right">
          <img src="assets/img/social_facebook.png" class="top_logo" />
          <img src="assets/img/social_twiter.png" class="top_logo" />
          <img src="assets/img/social_in.png" class="top_logo" />
          <div class="top_language" style = "margin-left:25px;">EN</div>
          <div class="top_language">FR</div>
        </div>
  		</div>


  		<div class="header_container">

  				<div class="company_profile">
            <div>
              <img src="assets/img/white_logo.png" />
            </div>
            <div class="big_title">DRIVE INTO THE <span style="color:orange;">FUTURE</span><br/> OF TRANSPORATATION</div>

            <div class= "normal_title">With the only transport in Montreal offering instant system updates from both CP and CN Rail</div>
  				</div>

  				<div class="launch_modal">
            <div class="launch_text">Already a customer<br/>and need to <span style = "font-family: 'EncodeSans_Bold';">track a container?</span></div>
            <div class="launch_button"> 
              <div>LAUNCH QUICK TRACE</div>
            </div>
  				</div>
  		</div>

  </div>

  <div class="container">
    <div class="about-us">
      fewjfioewqifpewqjifope
    </div>
  </div>

  <div class="footer">
  </div>
</div>